streamlit
SQLAlchemy
streamlit-authenticator
python-dotenv
google-generativeai
streamlit-option-menu
google-api-python-client
google-auth-oauthlib
google-auth
passlib[bcrypt]
PyMySQL
dateparser
APScheduler
email-validator
sendgrid
schedule